<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlElements" version="3.0.1" targetFramework="net452" />
  <package id="NSelene" version="0.0.0.7" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.40" targetFramework="net452" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.21.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.14.0" targetFramework="net452" />
</packages>